$gray-light: #b3b7ce;
$text-night-primary: #fff;
$text-color: #ffffff;
$black-color: #19191e;
$night-primary-stroke_new: #242429;
$color-styles-object-night: #242429;
$gray: #9093a2;
$object-night-primary-object-new: #34353f;
$stroke-night-primary-stroke-new: #4b4b59;
$color-styles-night: #242429;
